fastapi
uvicorn
python-dotenv
supabase
groq
httpx
requests
pydantic
python-jose[cryptography]
passlib[bcrypt]
google-auth
google-auth-oauthlib
google-api-python-client
python-multipart
youtube-transcript-api
tweepy
apscheduler